.trigger-button {
 font-size: 16px;
 font-weight: 400;
 font-family: 'Roboto';
 color: white;
 padding: 8px 15px 8px 15px;
 margin: 8px;
 background-color: #7c69e9;
 border: none;
 border-radius: 10px;
 outline: none;
 width:130px;
 height:40px;
}
.popup-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items:center;
 height: 200px;
 width:400px;
 background-color:azure;
 border-radius:15px;
}
.delete-button{
 height:40px;
 width:130px;
 background-color:red ;
 color:#ffffff;
 border-radius:10px;
 border-width:0px;
 font-size: 16px;
 font-weight: 400;
 padding: 8px 15px 8px 15px;
 margin: 8px;

}
.buttonContainer{
    display:flex;
    align-items: center;
 justify-content: center;
}

.popupEditContainer{
    height:500px;
    width:500px;
    background-color: aliceblue;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label{
    color:black;
}
.input{
    height:40px;
    width:400px;
}
.NameContainer{
    display:flex;
    flex-direction: column;
    margin:10px;
}
.descriptionContainer{
     display:flex;
    flex-direction: column;
    margin:10px;
}
.priceContainer{
    display:flex;
    flex-direction: column;
    margin:10px;
}
.cancel-button{
  height:40px;
 width:130px;
 background-color:#ffffff;
 color:#000000;
 border-radius:10px;
 border-width:1px;
 font-size: 16px;
 font-weight: 400;
 padding: 8px 15px 8px 15px;
 margin: 8px;  
}
.save-button{
      height:40px;
 width:130px;
 background-color:blue;
 color:#ffffff;
 border-radius:10px;
 border-width:0px;
 font-size: 16px;
 font-weight: 400;
 padding: 8px 15px 8px 15px;
 margin: 8px; 
}

.createProduct{
   height:40px;
    width:170px;
    background-color: rgb(238, 171, 70);
    color:#ffffff;
    border-radius:10px;
    border-width:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right:10px; 
}
.linkProduct{
    text-decoration: none;
}
.mainHeading{
    text-align: center;
    font-style: italic;
}
.firstName{
    color:darkblue;

}
.lastName{
    color:violet;
}